/NetBeans/**/output.bgr
/NetBeans/**/output.prf
/NetBeans/**/dist/
/NetBeans/**/build/
/NetBeans/**/nbproject/private/
/NetBeans/**/doc/html/
/NetBeans/**/doc/latex/
/NetBeans/**/doc/markdown/
/NetBeans/**/tests/.run.sh
/NetBeans/**/tests/output/*bgr
/NetBeans/**/tests/output/*prf
/NetBeans/**/tests/output/*compact
/NetBeans/**/tests/output/*csv
/NetBeans/**/tests/output/*detected
/NetBeans/**/tests/output/*full
/NetBeans/**/tests/output/*.md
/NetBeans/**/tests/output/*sh
/NetBeans/**/tests/output/*simplified
/NetBeans/**/tests/output/*out
/NetBeans/**/tests/output/*output
/NetBeans/**/tests/output/*output2
/NetBeans/**/tests/output/*wdiff
/NetBeans/**/tests/validation/*.expected
/NetBeans/**/tests/validation/*.keyboard
/NetBeans/**/__nReport
/NetBeans/**/__nTest
/NetBeans/**/__nTestname
/NetBeans/**/tests.out
/Tex/*/*.aux
/Tex/*/*.log
/Tex/*/*.out
/Tex/*/*.toc
/Tex/*/*.gz
