/CodeProjects/**/output.bgr
/CodeProjects/**/output.prf
/CodeProjects/**/dist/
/CodeProjects/**/build/
/CodeProjects/**/nbproject/private/
/CodeProjects/**/doc/html/
/CodeProjects/**/doc/latex/
/CodeProjects/**/doc/markdown/
/CodeProjects/**/tests/TestReport.md
/CodeProjects/**/tests/.call*
/CodeProjects/**/tests/.due*
/CodeProjects/**/tests/.fail*
/CodeProjects/**/tests/.out*
/CodeProjects/**/tests/.real*
/CodeProjects/**/tests/.run.sh
/CodeProjects/**/tests/output/*
/CodeProjects/**/tests/output/.*
/CodeProjects/**/tests/validation/*.expected
/CodeProjects/**/tests/validation/*.keyboard
/CodeProjects/**/__nReport
/CodeProjects/**/__nTest
/CodeProjects/**/__nTestname
/CodeProjects/**/tests.out
/CodeProjects/**/vgcore.*
/CodeProjects/**/.projectname
/CodeProjects/**/.idea
/Tex/*.log
/Tex/*/*.aux
/Tex/*/*.log
/Tex/*/*.out
/Tex/*/*.toc
/Tex/*/*.gz
/Latex/*/*.aux
/Latex/*/*.log
/Latex/*/*.out
/Latex/*/*.toc
/Latex/*/*.gz
